@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-brand-gray-100;
  }

  section {
    @apply pt-8 sm:pt-12 lg:pt-90;
  }

  h2 {
    @apply text-xl lg:text-2xl font-bold text-brand-dark capitalize;
  }

  h3 {
    @apply text-19 font-bold;
  }

  p {
    @apply leading-[1.1019rem] lg:leading-[1.175rem];
  }
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 35);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

input[type='checkbox']:checked + div svg {
  @apply block;
}
