@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-brand-gray-100;
  }

  section {
    @apply pt-8 sm:pt-12 lg:pt-90;
  }

  h2 {
    @apply text-xl lg:text-2xl font-bold text-brand-dark capitalize;
  }

  h3 {
    @apply text-19 font-bold;
  }

  p {
    @apply leading-[1.1019rem] lg:leading-[1.175rem];
  }
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 35);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

input[type='checkbox']:checked + div svg {
  @apply block;
}

/* Calendar styles */
.react-calendar {
  @apply max-w-md mx-auto w-full h-full font-lato text-brand-dark;
}

.react-calendar__tile {
  @apply !w-12 !h-12 text-lg lg:text-[1.375rem];
}

.react-calendar__navigation {
  @apply h-8 flex items-center justify-between text-2xl text-black/50 font-semibold border-b border-brand-gray/50 pb-10;
}

.react-calendar__month-view__weekdays {
  @apply uppercase text-15 font-semibold;
}

.react-calendar__month-view__weekdays__weekday {
  @apply w-14 h-11 grid place-content-center;
}

.react-calendar__month-view__days__day {
  @apply xs:!w-14 xs:h-11 grid place-content-center mt-1.5;
}

.react-calendar__month-view__days {
  @apply !grid !grid-cols-7;
}

.react-calendar__month-view__days__day abbr {
  @apply w-9 h-9 shrink-0 grid place-content-center rounded-full hover:bg-brand-blue-1/10;
}

.react-calendar__navigation__arrow {
  @apply w-10 h-10 grid place-content-center text-5xl mb-1 text-brand-dark;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  @apply hidden;
}

.react-calendar__tile--now {
  @apply relative shrink-0 after:absolute after:h-px after:w-6 after:bg-brand-red-1 after:rounded-full after:left-1/2 after:-translate-x-1/2 after:bottom-2 rounded-full;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply !w-9 !h-9 shrink-0 bg-brand-red-1 text-white rounded-full mt-3 ml-2 xs:mt-3 xs:ml-3;
}

.react-calendar__month-view__days__day--weekend {
  @apply text-black/50;
}
