@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-brand-gray-100 text-brand-dark;
  }

  section {
    @apply pt-8 sm:pt-12 lg:pt-90;
  }

  h2 {
    @apply text-xl lg:text-2xl font-bold text-brand-dark capitalize;
  }

  h3 {
    @apply text-19 font-bold;
  }

  p {
    @apply leading-[1.1019rem] lg:leading-[1.175rem];
  }
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 35);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

input[type='checkbox']:checked + div {
  @apply bg-brand-blue-1;
}

input[type='checkbox']:checked + div svg {
  @apply block fill-white;
}

/* Calendar styles */
.react-calendar {
  @apply max-w-md mx-auto w-full h-full font-lato text-brand-dark;
}

.react-calendar__tile {
  @apply !w-12 !h-12 text-lg lg:text-[1.375rem];
}

.react-calendar__navigation {
  @apply h-8 flex items-center justify-between text-2xl text-black/50 font-semibold border-b border-brand-gray/50 pb-10;
}

.react-calendar__month-view__weekdays {
  @apply uppercase text-15 font-semibold;
}

.react-calendar__month-view__weekdays__weekday {
  @apply w-14 h-11 grid place-content-center;
}

.react-calendar__month-view__days__day {
  @apply xs:!w-14 xs:h-11 grid place-content-center mt-1.5;
}

.react-calendar__month-view__days {
  @apply !grid !grid-cols-7;
}

.react-calendar__month-view__days__day abbr {
  @apply w-9 h-9 shrink-0 grid place-content-center rounded-full hover:bg-brand-blue-1/10;
}

.react-calendar__navigation__arrow {
  @apply w-10 h-10 grid place-content-center text-5xl mb-1 text-brand-dark;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  @apply hidden;
}

.react-calendar__tile--now {
  @apply relative shrink-0 after:absolute after:h-px after:w-6 after:bg-brand-red-1 after:rounded-full after:left-1/2 after:-translate-x-1/2 after:bottom-2 rounded-full;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  @apply !w-9 !h-9 shrink-0 bg-brand-red-1 text-white rounded-full mt-3 ml-2 xs:mt-3 xs:ml-3;
}

.react-calendar__month-view__days__day--weekend {
  @apply text-black/50;
}

::-webkit-scrollbar {
  @apply w-2; /* Width of the scrollbar */
}

.sm-scroll::-webkit-scrollbar {
  @apply w-0 h-1; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-brand-gray/30;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-brand-blue rounded-full hover:bg-brand-gray;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-gray/60 rounded-full hover:bg-brand-gray;
}

.swiper-wrapper {
  @apply !pb-3;
}

.pulsate {
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.slider-section-blog .swiper {
  @apply !overflow-visible;
}

.swiper-pagination {
  @apply !z-20;
}

.swiper-pagination-bullets {
  @apply !gap-3.5 !-bottom-[10%];
}

.swiper-pagination-bullet {
  @apply !w-3 !h-3 lg:!w-4 lg:!h-4 !bg-brand-gray-200;
}

.swiper-pagination-bullet-active {
  @apply lg:!w-4 lg:!h-4 !bg-brand-blue-1;
}

.swiper-slide:hover {
  pointer-events: none !important;
}

.range-slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #023e6a;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 14px;
  margin-bottom: 10px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #023e6a;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #023e6a;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.pulsate-animation {
  @apply relative w-10 h-10 bg-brand-blue rounded-full;
}

.pulsate-animation span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes shine {
  0% {
    transform: translateY(-150%) rotate(45deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(150%) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(450%) rotate(45deg);
    opacity: 0.8;
  }
}

.shine-animation::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 400%;
  background: white;
  animation: shine 3s infinite;
}
